
/* navbar */
.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #2DC997;
  color: rgb(255, 255, 255);
}

.navbar-brand{
font-family: 'Courgette', sans-serif;
font-size: 34px;
color: #E43C5C !important;
}

.scrollLink{
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold; 
}


/* section padding */
.section-padding{
  padding: 60px 0px;
}

